@tailwind base;
@tailwind components;
@tailwind utilities;

.ronaldo {
    background: linear-gradient(90deg, rgba(80,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,234,3,1) 100%);
    color: white;
}

.ronaldonotes {
    background-color: rgba(255,255,255,0.25);
}